<h2>Register</h2>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <input type="text" name="nom" [(ngModel)]="user.nom" placeholder="Nom" required />
  <input type="text" name="prenom" [(ngModel)]="user.prenom" placeholder="Prenom" required />
  <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required />
  <input type="password" name="mot_de_passe" [(ngModel)]="user.mot_de_passe" placeholder="Password" required />
<select name="id_role" [(ngModel)]="user.id_role" required>
    <option value="" disabled>Select role</option>
    <option value="1">ADMIN</option>
    <option value="2">BOUTIQUE</option>
    <option value="3">ACHETEUR</option>
</select>
  <button type="submit">Register</button>
</form>
<p *ngIf="message">{{ message }}</p>