<app-sidebar [sidebarCollapsed]="sidebarCollapsed"></app-sidebar>

    <div class="main-wrapper">
        <app-header></app-header>

        <main class="content">

<div class="favoris-container">
  <h2>❤️ Mes Favoris</h2>

  <div *ngIf="loading">Chargement...</div>
  <div *ngIf="message && !loading">{{ message }}</div>

  <div *ngIf="!loading && favoris.length === 0">
    Aucun produit en favori.
  </div>

  <div class="favoris-grid" *ngIf="favoris.length > 0">

    <div class="card" *ngFor="let p of favoris">

      <img 
        [src]="BASE_URL + '/uploads/' + p.image" 
        width="120" 
        *ngIf="p.image"
      >

      <h3>{{ p.id_produit?.nom }}</h3>

      <p><strong>Boutique:</strong> {{ p.id_boutique?.nom }}</p>
      <p><strong>Stock:</strong> {{ p.stock }}</p>
      <p>{{ p.description }}</p>

      <button (click)="removeFavori(p._id)">
        ❌ Retirer
      </button>

    </div>

  </div>
</div>

</main>

        <app-footer></app-footer>
    </div>