<!-- sidebar.component.html -->
<aside class="sidebar" [class.collapsed]="sidebarCollapsed">
    <div class="brand">
        <div class="logo-icon">
            <i class="fa-solid fa-users-cog"></i>
        </div>
        <span>EcomManage</span>
    </div>
  <nav class="nav-list">
    <a *ngIf="userRole" [routerLink]="dashboardLink" class="nav-item">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </a>

    <a 
    routerLink="/annonces"
    class="nav-item"
    >
    <i class="fa-solid fa-bullhorn"></i>
    <span>Annonces</span>
    </a>

    <a 
    *ngIf="userRole === 'ADMIN_BOUTIQUE' || userRole === 'ADMIN_CENTRE'" 
    routerLink="/factures"
    class="nav-item"
    >
    <i class="fa-solid fa-file-invoice-dollar"></i>
    <span>Factures</span>
    </a>

    <a 
    *ngIf="userRole === 'ADMIN_BOUTIQUE' || userRole === 'ADMIN_CENTRE'" 
    routerLink="/demandes"
    class="nav-item"
    >
    <i class="fa-solid fa-clipboard-list"></i>
    <span>Voir les demandes</span>
    </a>
    <a 
    *ngIf="userRole === 'ADMIN_BOUTIQUE' || userRole === 'ADMIN_CENTRE'" 
    routerLink="/promotion"
    class="nav-item"
    >
    <i class="fa-solid fa-clipboard-list"></i>
    <span>Insérer Promotion</span>
    </a>

    <!-- ---------------------------- -->
  <a *ngIf="userRole === 'ACHETEUR'" 
    routerLink="/produit_b" class="nav-item">
    <i class="fa-solid fa-clipboard-list"></i>
    <span>Voir les produits</span>
</a>

<a *ngIf="userRole === 'ACHETEUR'" 
routerLink="/boutique_a" class="nav-item">
<i class="fa-solid fa-clipboard-list"></i>
    <span>Voir les boutiques</span>
  </a>

  </nav>
  <div class="sidebar-footer">
      <app-logout-button></app-logout-button>
  </div>
</aside>