<header class="top-header">
  <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search tasks, users...">
  </div>

  <div class="header-actions">
      <div class="notification" (click)="toggleNotifications()">
    <i class="fa-solid fa-bell"></i>
    <span *ngIf="hasUnread()" class="notif-dot"></span>

    <!-- Notification dropdown -->
    <div *ngIf="showNotifications" class="notif-dropdown">
            <div *ngFor="let notif of notifications"
                [ngClass]="{'notif-unread': !notif.read, 'notif-read': notif.read}"
                class="notif-item">
                <div class="notif-type">{{ notif.type }}</div>
                <div class="notif-message">{{ notif.message }}</div>
                <div class="notif-time">{{ notif.time }}</div>
            </div>

            <div *ngIf="notifications.length === 0" class="notif-empty">
                Aucune notification
            </div>
        </div>
    </div>

      <div class="vertical-divider"></div>
      
      <div class="profile">
          <div class="profile-info">
              <span class="user-name">{{ userName }}</span>
              <span class="user-role">{{ userRole }}</span>
          </div>

          <div class="avatar">
              <i class="fa-solid fa-user"></i>
          </div>
      </div>
  </div>
</header>